numpy
scipy
pandas
anytree
tabulate
## root dependencies
uproot
iminuit
## root_pandas
##---------------------   graphics  dependencies
bokeh>2,<2.5
matplotlib
plotly
qgrid
bqplot
beakerx
# ----------------------   jupyter notebook dependencies
ipywidgets
runtime
requests
# ---------------------    machine learning dependencies
sklearn
xgboost
#scikit-garden
scikit-hep
forestci
tensorflow
keras

