numpy
scipy
pandas
anytree
tabulate
## root dependencies
iminuit
##---------------------   graphics  dependencies
bokeh>2,<2.5              # possibility to use new bokeh #150
# ----------------------   jupyter notebook dependencies
ipywidgets
runtime
requests
jupyter
# ---------------------    machine learning dependencies
scikit-learn
xgboost

