numpy
scipy
pandas
anytree
## root dependencies
uproot
## root_pandas
##---------------------   graphics  dependencies
bokeh<2
matplotlib
plotly
qgrid
bqplot
beakerx
# ----------------------   jupyter notebook dependencies
ipywidgets
runtime
request
# ---------------------    machine learning dependencies
sklearn
#scikit-garden
scikit-hep
forestci
tensorflow
keras
# tests and tutorials
pytest
nbval
